# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
/android/.gradle/
/android/local.properties

# iOS
/ios/Pods/
/ios/.symlinks/

# IDE
.vscode/
.idea/

# Misc
*.log
*.lock
.env
*.env

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart
